.cl-table {
  background-color: #fff;
  padding: 15px;
  .table {
    text-align: center;
    thead {
      th {
        vertical-align: middle;
        background: #f8f8fb;
        border: none;
        font-weight: normal;
      }
    }
    td {
      font-size: 14px;
    }
  }
}
.table-dropdown {
  .dropdown-toggle {
    background: transparent;
    border: none;
    .drop-icon {
      color: #333;
    }
    &::after {
      display: none;
    }
  }
  .btn-success {
    &:hover,
    &:focus {
      border: none;
      box-shadow: none;
      background: transparent;
    }
  }
  .dropdown-item {
    font-size: 14px;
    i {
      margin-right: 10px;
    }
    &:hover {
      color: #556ee6;
    }
  }
}
.table-dropdown.show > .btn-success.dropdown-toggle:focus,
.table-dropdown.show > .btn-success.dropdown-toggle {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.data-filter {
  display: flex;
  align-items: center;
  .cl-btn-group {
    margin-right: auto;
  }
  .right-content {
    display: flex;
    align-items: center;
  }
  .cl-search {
    width: 250px;
    margin-right: 15px;
    .form-control {
      background: #f1f1f1;
    }
  }
}
