.modal-body {
  .close {
    font-size: 22px;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 20px;
    background: #556ee6;
    text-align: center;
    color: #fff;
    right: -9px;
    top: -15px;
    border-radius: 100%;
    padding: 5px;
  }
}
