.info-card {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 7%);
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  .info-title {
    .title {
      color: #868faa;
      font-size: 20px;
    }
    span {
      font-size: 26px;
    }
  }
  .info-icon {
    margin-left: auto;
    background: #556ee6;
    border-radius: 50%;
    line-height: 75px;
    height: 65px;
    width: 65px;
    text-align: center;
    .icon {
      font-size: 28px;
      color: #fff;
    }
  }
}
