.cl-header {
  padding: 20px 0;
  .cl-flex {
    display: flex;
    align-items: center;
  }
  .right-content {
    margin-left: auto;
  }

  .hamburger.show {
    cursor: pointer;
    width: 35px;
    &:focus {
      outline: none;
    }
    span {
      border-radius: 3px;
      width: 20px;
      height: 2px;
      background-color: #2a3042;
      display: block;
      margin: 5px 1px;
      -moz-transition: all ease-in-out 0.3s;
      -webkit-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s;
    }
  }
  .hamburger {
    background-color: transparent;
    outline: none;
    border: none;

    span:nth-child(1) {
      display: none;
      opacity: 0;
    }
    span:nth-child(2) {
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin: -1px;
    }
    span:nth-child(3) {
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin: -2px -1px;
    }
  }
}
.cl-search {
  width: 400px;
  .form-group {
    margin-bottom: 0;
    position: relative;
    .form-control {
      border-radius: 16px;
      border: none;
      box-shadow: 0 0px 4px rgb(0 0 0 / 6%);
      padding: 7px 41px 7px 13px;
      color: #868faa;
      &::placeholder {
        color: #868faa;
        font-size: 14px;
      }
    }
    .icon {
      color: #868faa;
      position: absolute;
      right: 15px;
      top: 8px;
      font-size: 12px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
    .icon:focus {
      color: #fff;
    }
  }
}
.cl-user {
  // display: flex;
  background: #fff;
  padding: 10px 15px;
  margin-left: 15px;
  text-align: left;
  img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 55px;
    margin-right: 8px;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  p {
    margin-bottom: 0;
    small {
      display: block;
    }
  }
  .title {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: -5px;
  }
  small {
    font-size: 10px;
  }
}
.cl-dropdown.toggle {
  .cl-dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.4s;
    right: -100px;
  }
}
.cl-dropdown {
  .cl-dropdown-menu {
    display: block;
    background: #333;
    color: #fff;
    padding: 15px;
    left: auto;
    margin: 10px 0;
    min-width: 300px;
    right: 0;
    text-align: center;
    transition: all ease-in-out 0.4s;
    opacity: 1;
    visibility: visible;
  }
}
.cl-noti {
  position: relative;
  .icon {
    color: #868faa;
    font-size: 24px;
  }
  .noti-count {
    font-size: 9px;
    position: absolute;
    top: 0;
    right: 15px;
    width: 14px;
    height: 14px;
    text-align: center;
    margin-top: -4px;
    margin-right: -20px;
    color: #fff;
    border-radius: 50%;
    background: #bb3b03;
  }
}
